# 丰声获取token

^https?:\/\/fusionwork\.sf-express\.com\/config\/auth\/check$ url script-request-body https://github.com/wiggin-jiang/QuantumultX/raw/main/scripts/fusion.js

hostname = fusionwork.sf-express.com

