# 丰声获取token

^https?:\/\/fusionwork\.sf-express\.com\/config\/app\/dict\/getValue$ url script-request-header https://github.com/wiggin-jiang/QuantumultX/raw/main/scripts/fusion.js

hostname = fusionwork.sf-express.com

